* {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1949px;
}

img {
    width: 17px;
    vertical-align: top;
    margin-right: 5px;
}

span {
    font-size: 13px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

input {
    display: flex;
    width: 400px;
    height: 55px;
    font-size: 18px;
    font-family: "Raleway";
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    margin-bottom: 15px;
    padding-left: 30px;
}

input[type='submit'] {
    justify-content: center;
    height: 50px;
    background-color: #b9d2ed;
    border: none;
    color: #1e1f3d;
    font-weight: 700;
    margin-top: 45px;
    padding: 0;
}

input:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

::placeholder {
    color: #fff;
}

button:hover {
    outline: none;
    box-shadow: 0 0 2px #79b8ff;
    background-color: #515388;
    color: #fff;
    cursor: pointer;
}

button:focus {
    outline: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 0 2px #79b8ff;
    color: #fff;
}

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

#header {
    box-shadow: inset 0 0 0 1000px rgba(30, 31, 61, 0.8);
    background-image: url("../img/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#get-estimate {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    padding: 15px 60px;
    border: none;
    background-color: #b9d2ed;
    color: #1e1f3d;
}

#get-estimate:hover {
    background-color: transparent;
    color: #fff;
}

#mobileOs {
    height: 100vh;
    background-color: #b9d2ed;
}

#mobileOs h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1e1f3d;
    margin-bottom: 20px;
}

#osButtons {
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-wrap: wrap;
}

#screens {
    box-shadow: inset 0 0 0 1000px rgba(228, 241, 254, 0.7);
    background-image: url("../img/screens-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#screens h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1e1f3d;
    margin-bottom: 20px;
}

#screenButtons {
    display: flex;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
}

#design,
#func,
#bill,
#sec {
    height: 100vh;
    background-color: #5f619c;
}

#design h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

#design p,
#func p,
#bill p,
#sec p {
    color: #fff;
}

#userInterface {
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-wrap: wrap;
}

#api {
    height: 100vh;
    background-color: #b9d2ed;
}

#api h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1e1f3d;
    margin-bottom: 20px;
}

#apis {
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-wrap: wrap;
}

#auth {
    box-shadow: inset 0 0 0 1000px rgba(228, 241, 254, 0.7);
    background-image: url("../img/authentification-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#auth h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1e1f3d;
    margin-bottom: 20px;
}

#authentification {
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-wrap: wrap;
}

#func h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

#functionality {
    width: 80%;
    flex-wrap: wrap;
    text-align: center;
}

#date {
    height: 100vh;
    background-color: #b9d2ed;
}

#date h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1e1f3d;
    margin-bottom: 20px;
}

#datesAndLocation {
    display: flex;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
}

#social {
    box-shadow: inset 0 0 0 1000px rgba(228, 241, 254, 0.7);
    background-image: url("../img/social-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#socialAndEngagements {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
}

#social h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1e1f3d;
    margin-bottom: 20px;
}

#billing {
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-wrap: wrap;
}

#bill h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

#mult {
    height: 100vh;
    background-color: #b9d2ed;
}

#multimedia {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}

#mult h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1e1f3d;
    margin-bottom: 20px;
}

#admin {
    box-shadow: inset 0 0 0 1000px rgba(228, 241, 254, 0.7);
    background-image: url("../img/administration-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#administrationAndAnalytics {
    display: flex;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
}

#admin h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #1e1f3d;
    margin-bottom: 20px;
}

#security {
    display: flex;
    justify-content: space-between;
    width: 75%;
    flex-wrap: wrap;
}

#sec h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

#contact {
    box-shadow: inset 0 0 0 1000px rgba(30, 31, 61, 0.8);
    background-image: url("../img/form-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#errorEmailMessage,
#errorNameMessage {
    font-size: 18px;
    display: block;
    font-family: Raleway;
    font-weight: 600;
    color: #f72c2c;
    padding-left: 30px;
    margin-top: -5px;
    margin-bottom: 20px;
}

#startAgain {
    width: 300px;
    display: flex;
    justify-content: center;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    padding: 15px 60px;
    border: none;
    background-color: #1e1f3d;
    color: #fff;
}

.smooth {
    color: #5f619c;
}

.selected {
    background-color: #333685 !important;
    color: #fff !important;
}

.header-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #6fd7e4;
    margin-bottom: 20px;
}

.header-content p {
    width: 53%;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 35px;
    line-height: 1.6;
}

.os-content,
.screens-content,
.design-content,
.api-content,
.auth-content,
.func-content,
.date-content,
.social-content,
.bill-content,
.mult-content,
.admin-content,
.sec-content {
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option-button {
    width: 216px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: #adc9e9;
    margin-top: 60px;
    font-size: 16px;
    font-family: "Raleway";
    font-weight: 600;
    color: #1e1f3d;
}

.counter p {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 500;
    color: #1e1f3d;
    margin-right: 40px;
    padding-top: 40px;
}

.prev-question,
.prev-question-des,
.prev-question-auth,
.prev-question-func,
.prev-question-date,
.prev-question-social,
.prev-question-bill,
.prev-question-mult,
.prev-question-admin,
.prev-question-sec {
    margin-left: 40px;
    font-size: 15px;
    font-weight: 600;
}

p.estOs,
p.estScreens,
p.estAPI,
p.estAuth,
p.estDate,
p.estSocial,
p.estMult,
p.estAdmin {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 700;
    padding-top: 0;
    color: #1e1f3d;
}

p.estDesign,
p.estFunc,
p.estBill,
p.estSec {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 700;
    padding-top: 0;
    color: #fff;
}

.prev-question,
.prev-question-auth,
.prev-question-social,
.prev-question-date,
.prev-question-mult,
.prev-question-admin a {
    color: #5f619c;
}

.prev-question-des a {
    color: #b9d2ed;
}

.prev-question-func a {
    color: #b9d2ed;
}

.prev-question-bill a {
    color: #b9d2ed;
}

.prev-question-sec a {
    color: #b9d2ed;
}

.contact-content h1 {
    display: flex;
    align-items: center;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #6fd7e4;
    margin-bottom: 0;
}

.contact-content p {
    width: 53%;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.6;
}

.contact-content p.write-us {
    margin-bottom: 35px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.contact-content p.total {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 20px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.93);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
}

.modal-content {
    height: 67vh;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: #5f619c;
    padding: 0;
    -webkit-animation: sk-rotateplane 1.1s infinite ease-in-out;
    animation: sk-rotateplane 1.1s infinite ease-in-out;
}

.thanks {
    display: none;
}

.thank-you-modal {
    width: 50%;
    padding-bottom: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-header {
    width: 100%;
    text-align: center;
    font-family: "Raleway";
    font-size: 24px;
    color: #fff;
    margin-bottom: 35px;
    line-height: 1.6;
    padding-top: 15px;
    font-weight: 800;
}

.stay {
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    color: #f72c2c;
    margin-top: 5px;
    font-size: 15px;
}

.stay:hover {
    cursor: pointer;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(240px)
    }
    50% {
        -webkit-transform: perspective(240px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(240px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(240px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(240px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(240px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(240px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(240px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(240px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@media (max-width: 593px) {

    span {
        font-size: 12px;
    }

    .contact-content p {
        width: 90%;
        font-size: 18px;
        margin-top: 0;
    }

    input {
        width: 290px;
        height: 47px;
    }

    img {
        width: 13px;
    }

    p.estDesign,
    p.estFunc,
    p.estBill,
    p.estSec {
        font-size: 26px;
        padding-top: 0;
    }

    p.estOs,
    p.estScreens,
    p.estAPI,
    p.estAuth,
    p.estDate,
    p.estSocial,
    p.estMult,
    p.estAdmin {
        font-size: 26px;
        padding-top: 0
    }

    #get-estimate {
        font-size: 12px;
        padding: 16px 50px;
    }

    #mobileOs h1,
    #screens h1,
    #mult h1,
    #design h1,
    #api h1,
    #auth h1,
    #func h1,
    #date h1,
    #social h1,
    #bill h1,
    #admin h1,
    #sec h1,
    .contact-content h1 {
        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #func h1 {
        padding-top: 60px;
    }

    #startAgain {
        width: 200px;
        height: 42px;
        padding: 0;
    }

    .option-button {
        width: 190px;
        height: 55px;
        margin-top: 15px;
        font-size: 14px;
    }

    .os-content,
    .screens-content,
    .design-content,
    .api-content,
    .auth-content,
    .func-content,
    .date-content,
    .social-content,
    .bill-content,
    .mult-content,
    .admin-content,
    .sec-content {
        height: 75vh;
    }

    .header-content h1 {
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-content p {
        width: 70%;
        font-size: 15px;
    }

    .prev-question,
    .prev-question-des,
    .prev-question-auth,
    .prev-question-func,
    .prev-question-date,
    .prev-question-social,
    .prev-question-bill,
    .prev-question-mult,
    .prev-question-admin,
    .prev-question-sec {
        margin-left: 10px;
        font-size: 12px;
    }

    .counter p {
        font-size: 12px;
        padding-top: 15px;
        margin-right: 15px;
    }

    .thank-you-modal {
        width: 80%;
        padding-bottom: 20px;
    }

    .modal-header {
        width: 100%;
        line-height: 1;
    }

    .contact-content p.total {
        font-size: 26px;
    }
}